.sideContainer {
  box-shadow: 1px 1px 3px 1px black;
  min-height: 100%;
  padding: 10px;
  margin-right: 80px;
  width: 20%;
  min-width: 250px;
}

.imageContainer {
  text-align: center;
  margin: 20px 30px auto;
}

.star {
  height: 120px;
  width: 120px;
  text-align: center;
}

.sidebarHeading {
  text-align: center;
}

.sideContainer li {
  padding: 10px;
  list-style: none;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
}
